* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #Todo */
body {
    font-family: "Archivo Black", sans-serif;
    background-color: #fdf6f0;
    color: #2c2c2c;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #ffffff;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #2c2c2c;
    display: inline-block;
    transition: transform 0.2s ease;
}

nav ul li a:hover {
    transform: scale(1.1);
}

.btn-pedido{
    background-color: #2c2c2c;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.2s ease;
}

.btn-pedido:hover {
    transform: scale(1.1);
}